<div></div>
  <h1>INGRESO DE PRODUCTOS NUEVOS</h1>
  <form id="formProductos" >
    <div>
        <div>
          <input type="text" id="nombreProd" name="nombre" placeholder="Nombre del producto">
        </div>
    </div>
    <div>
      <input type="number" id="precio" name="precio" placeholder="Precio">
    </div>
    <div>
      <input type="text" id="thumbnail" name="thumbnail" placeholder="Url de la imagen">
    </div>
    <div>
      <button type="submit" id="botonGuardarProducto" class="btn btn-success">Guardar</button>
    </div>
  </form>
</div>